<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/base.css">
</head>
<body>
    <%- include('../layout/header') %>

    <main>
        <form method="POST" action="/searches" >
        <input type="text" name="search" required placeholder="search pls">
    <aside class="radio">

        
        <label for="">title</label>
        <input type="radio" name="type" value="title" checked required>
        <label for="">author</label>
        <input type="radio" name="type" value="author" required>

    </aside>
<button>Search the Google books API</button>
</form>
    </main>
    <footer></footer>
    
</body>
</html>