<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sort By</h2>
    <form>
        <input type="radio" id="title" name="gender" value="title">
        <label for="title">title</label><br>
        <input type="radio" id="author" name="gender" value="author">
        <label for="title">author</label><br>
        <button>Search the google books api</button>
      </form> 
    
</body>
</html>