<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>hello world</h1>
 <main>
     <a href="/">home</a>
     <a href="/searches/new">book search</a>

     <h2>list</h2>
 
     <section>
         <%booksArr.forEach(element=>{ %>
            <div>
                <img src="<%= element.url %>">
                <h2>
                    <%= element.title %>
                </h2>
                <h2>
                    <%= element.author %>
                </h2>
                <h2>
                    <%= element.description %>
                </h2>

            </div>

         <%})%>

         
     </section>
 </main>

    
</body>
</html>